:root {
  --purple-color: #8a1e86;
  --orange-color: #fcb43a;
  --gray-color: #212529; 
}


.head-one {
  font-size: 2rem;
  font-weight: 600;
}
.comman-paragraph {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--gray-color);
}
.comman-button {
  background: linear-gradient(to right, var(--orange-color), var(--purple-color));
  padding: 1rem;
  border-radius: 50px;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media only screen and (min-width: 576px  ) {
  .comman-button {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media only screen and (min-width: 768px ) {
  .head-one {
    font-size: 2.5rem;
  }
  .comman-paragraph {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1024px ) {
  .head-one {
    font-size: 3rem;
  }
}
